<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Swim Shop Product App</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="scripts/main.js" defer></script>
    </head>
    <body>
        <div class="nav-bar">
            <a>Home</a>
            &gt;<a>Swimwear</a>
            &gt;<a>Women &#39;s Swimwear</a>
            &gt;<a>Tech Suits</a>
        </div>
        <div id="app">
            <div id="product">
                <section id="viewProduct">
                    <div id="productImage">
                        <ul>
                            <li v-for="thumb in thumbnails">
                                <a v-bind:key="thumb.imgid" v-bind:href="thumb.url" target="_blank">
                                    <img width="99" height="112" :alt="thumb.altText" v-bind:src="thumb.image">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="productView">
                        <img width="422" height="500" v-bind::alt="thumbnails[0].altText" v-bind:src="thumbnails[0].url">
                    </div>
                    <div>
                        <div id="productInfo">
                            <h1 id="inventoryStatus" :class="{active: cart > 0, out: qtyInInventory == 0}">{{brand}}-{{productValue}}</h1>
                            <span v-if="qtyInInventory < 4">On Sale!</span>
                            <p>I love my {{productValue}}!</p>
                            <p v-if="qtyInInventory >= 5">In Stock</p>
                            <p v-else-if="qtyInInventory <= 4 && qtyInInventory > 0">Almost sold out!</p>
                            <p v-else>Out of Stock</p>
                            <h3>Available sizes:</h3>
                            <ul>
                                <li v-for="aSize in sizes">
                                    <a v-bind:key="aSize.sizeId">
                                        {{ aSize.sizeVal }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="cartArea">
                            <div>
                                <button v-on:click="addToCart" v-bind:disabled="qtyInInventory < 1" :class="{disabledButton: qtyInInventory < 1}">Add to Cart</button>
                                <br>
                                <button v-on:click="removeFromCart" v-bind:disabled="cart < 1" :class="{disabledButton: cart < 1}">Remove from Cart</button>
                            </div>
                            <!-- 
                    the example below binds the class attribute to an object. The 
                    properties of the object are class names in the CSS file.
                    The presence of the class names in the classList are based 
                    on the conditional statements 
              -->
                            <div id="cartContainer" :class="{active: cart > 0, 'text-danger': cart == 0}">
                                <p>Cart ({{cart}})</p>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="productDetails">
                    <h2>Product Details</h2>
                    <p>{{description}}
          </p>
                    <div id="two-col">
                        <div id="features">
                            <h4>Features</h4>
                            <ul>
                                <li v-for="feature in features">{{ feature }}</li>
                            </ul>
                        </div>
                        <div id="details">
                            <h4>Details</h4>
                            <ul>
                                <li v-for="detail in details">{{ detail }}</li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </body>
</html>
